[data-theme="light"] {
  --background-color: #cf3131;
  --color: #ffffff;
}

[data-theme="dark"] {
  --background-color: #1ba94c;
  --color: #3a3232;
}
body {
  margin: 1px;
  background-color: var(--background-color);
  color: var(--color);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.switch {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  transition: 0.5s;
}

.switch:hover {
  background-color: var(--color);
  color: var(--background-color);
  box-shadow: 0 0 10px var(--color);
}
.theme-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color);
}
